
$color1: rgb(241, 245, 241);
$color2: rgba(91, 96, 100,1);
$color3: rgba(9, 17, 9, 0.4);
$color4: rgb(176, 199, 176);
$color5: rgba(167, 7, 7, 0.8);

$daywidth: 1.6rem;
$dayheight: 1.6rem;
$constant: 8.5;
$cardwidth: $daywidth * $constant;
